# Tugas 1

## read data wthi url

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as st
import numpy as np

In [15]:
data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19_Unified-Dataset/master/COVID-19_LUT.csv')

In [16]:
dataa = pd.read_csv('http://data.gresikkab.go.id/dataset/9c28b29c-56c9-441c-889f-46e847afc448/resource/50528cd6-f09e-409b-b34f-2beabb4ebdb1/download/4.2.13-banyaknya-permintaan-darah-menurut-jenis-golongan-darah-dikabupaten-gresik-2018.csv',sep=";")

In [17]:
dataa

                  Bulan    A    B    0   AB  Jumlah Total
0       Januari/January  350  488  670   77          1585
1     Februari/February  318  515  620   88          1541
2           Maret/March  345  514  811   83          1753
3           April/April  343  426  621   94          1484
4               Mei/May  380  566  731   94          1771
5             Juni/June  305  373  565   74          1317
6             Juli/July  465  587  958  107          2117
7        Agustus/August  325  544  750  120          1739
8   September/September  315  483  666   74          1538
9       Oktober/October  399  404  646   90          1539
10    November/November  384  513  794  113          1804
11    Desember/December  507  663  884  103          2157

## median

In [18]:
st.median(dataa['Jumlah Total'])

1662.0

## mean

In [19]:
st.mean(dataa['Jumlah Total'])

1695.4166666666667

## modus

In [21]:
st.mode(dataa['Jumlah Total'])

StatisticsError: ignored

terjadi error karena tidak terdapat modus atau nilai yang sering muncul

## Kuartil

In [30]:
np.percentile(dataa['Jumlah Total'],50)

1662.0

## Skewed/Kemiringan

In [ ]:
plt.figure()
sns.distplot(dataa['Jumlah Total'])
plt.show()