# Tugas 1

In [27]:
import pandas as pd

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19_Unified-Dataset/master/COVID-19_LUT.csv')

In [31]:
dataa = pd.read_csv('http://data.gresikkab.go.id/dataset/9c28b29c-56c9-441c-889f-46e847afc448/resource/50528cd6-f09e-409b-b34f-2beabb4ebdb1/download/4.2.13-banyaknya-permintaan-darah-menurut-jenis-golongan-darah-dikabupaten-gresik-2018.csv',sep=";")

In [33]:
dataa

                  Bulan    A    B    0   AB  Jumlah Total
0       Januari/January  350  488  670   77          1585
1     Februari/February  318  515  620   88          1541
2           Maret/March  345  514  811   83          1753
3           April/April  343  426  621   94          1484
4               Mei/May  380  566  731   94          1771
5             Juni/June  305  373  565   74          1317
6             Juli/July  465  587  958  107          2117
7        Agustus/August  325  544  750  120          1739
8   September/September  315  483  666   74          1538
9       Oktober/October  399  404  646   90          1539
10    November/November  384  513  794  113          1804
11    Desember/December  507  663  884  103          2157

In [ ]:
print('dahlah')

dahlah

In [ ]:
import urllib
url = 'https://katalog.satudata.go.id/api/3/action/datastore_search?resource_id=3c59f2f1-2d2e-4a11-ba8e-2ceb0904563e&limit=5&q=title:jones'  
fileobj = urllib.request.urlopen(url)
print(fileobj.read())

b'{"help": "https://katalog.satudata.go.id/api/3/action/help_show?name=datastore_search", "success": true, "result": {"include_total": true, "limit": 5, "q": "title:jones", "records_format": "objects", "resource_id": "3c59f2f1-2d2e-4a11-ba8e-2ceb0904563e", "total_estimation_threshold": null, "records": [], "fields": [{"id": "_id", "type": "int"}, {"id": "Data Status Gizi balita Desa Sengon tahun 2019", "type": "text"}, {"id": "rank", "type": "float"}], "_links": {"start": "/api/3/action/datastore_search?resource_id=3c59f2f1-2d2e-4a11-ba8e-2ceb0904563e&limit=5&q=title%3Ajones", "next": "/api/3/action/datastore_search?resource_id=3c59f2f1-2d2e-4a11-ba8e-2ceb0904563e&limit=5&q=title%3Ajones&offset=5"}, "total": 0, "total_was_estimated": false}}'